In [1]:
import utils

In [2]:
utils.get_dataframe_from_tiffs(years=[2012,], variable='Temperature')

         x_coord    y_coord  EarthEngineData/Temperature  year
0     101.990226  28.579901                          NaN  2012
1     102.071074  28.579901                          NaN  2012
2     102.151923  28.579901                          NaN  2012
3     102.232771  28.579901                          NaN  2012
4     102.313619  28.579901                          NaN  2012
...          ...        ...                          ...   ...
6995  109.670821  33.996742                   283.545667  2012
6996  109.751670  33.996742                   284.504846  2012
6997  109.832518  33.996742                   284.504846  2012
6998  109.913367  33.996742                   284.686116  2012
6999  109.994215  33.996742                   283.956515  2012

[140000 rows x 4 columns]

In [3]:
utils.get_dataframe_from_tiffs(years=[2012,], variable='Precipitation')

        x_coord    y_coord  EarthEngineData/Precipitation  year
0     85.982247  39.575280                            NaN  2012
1     86.063096  39.575280                            NaN  2012
2     86.143944  39.575280                            NaN  2012
3     86.224793  39.575280                            NaN  2012
4     86.305641  39.575280                            NaN  2012
...         ...        ...                            ...   ...
6995  85.658854  23.001363                      16.922130  2012
6996  85.739702  23.001363                      16.922130  2012
6997  85.820551  23.001363                      16.522652  2012
6998  85.901399  23.001363                      16.154214  2012
6999  85.982247  23.001363                      15.790514  2012

[140000 rows x 4 columns]

In [ ]:
utils.get_dataframe_from_tiffs(years=[2012,], variable='SnowCover')

In [ ]:
print('currently 1418, is this going to fail?')

In [2]:
!ls EarthEngineData/

High_Mountain_Asia_Difference_Section_0.tif
High_Mountain_Asia_Difference_Section_1.tif
High_Mountain_Asia_Difference_Section_10.tif
High_Mountain_Asia_Difference_Section_11.tif
High_Mountain_Asia_Difference_Section_12.tif
High_Mountain_Asia_Difference_Section_13.tif
High_Mountain_Asia_Difference_Section_14.tif
High_Mountain_Asia_Difference_Section_15.tif
High_Mountain_Asia_Difference_Section_16.tif
High_Mountain_Asia_Difference_Section_17.tif
High_Mountain_Asia_Difference_Section_18.tif
High_Mountain_Asia_Difference_Section_19.tif
High_Mountain_Asia_Difference_Section_2.tif
High_Mountain_Asia_Difference_Section_3.tif
High_Mountain_Asia_Difference_Section_4.tif
High_Mountain_Asia_Difference_Section_5.tif
High_Mountain_Asia_Difference_Section_6.tif
High_Mountain_Asia_Difference_Section_7.tif
High_Mountain_Asia_Difference_Section_8.tif
High_Mountain_Asia_Difference_Section_9.tif
Precipitation_2012_Section_0.tif
Precipitation_2012_Section_1.tif
Precipitation_2012_Section_10.tif
Precipitation_2012_Section_11.tif
Precipitation_2012_Section_12.tif
Precipitation_2012_Section_13.tif
Precipitation_2012_Section_14.tif
Precipitation_2012_Section_15.tif
Precipitation_2012_Section_16.tif
Precipitation_2012_Section_17.tif
Precipitation_2012_Section_18.tif
Precipitation_2012_Section_19.tif
Precipitation_2012_Section_2.tif
Precipitation_2012_Section_3.tif
Precipitation_2012_Section_4.tif
Precipitation_2012_Section_5.tif
Precipitation_2012_Section_6.tif
Precipitation_2012_Section_7.tif
Precipitation_2012_Section_8.tif
Precipitation_2012_Section_9.tif
Precipitation_2013_Section_0.tif
Precipitation_2013_Section_1.tif
Precipitation_2013_Section_10.tif
Precipitation_2013_Section_11.tif
Precipitation_2013_Section_12.tif
Precipitation_2013_Section_13.tif
Precipitation_2013_Section_14.tif
Precipitation_2013_Section_15.tif
Precipitation_2013_Section_16.tif
Precipitation_2013_Section_17.tif
Precipitation_2013_Section_18.tif
Precipitation_2013_Section_19.tif
Precipitation_2013_Section_2.tif
Precipitation_2013_Section_3.tif
Precipitation_2013_Section_4.tif
Precipitation_2013_Section_5.tif
Precipitation_2013_Section_6.tif
Precipitation_2013_Section_7.tif
Precipitation_2013_Section_8.tif
Precipitation_2013_Section_9.tif
SnowCover_2012_Section_0.tif
SnowCover_2012_Section_1.tif
SnowCover_2012_Section_10.tif
SnowCover_2012_Section_11.tif
SnowCover_2012_Section_12.tif
SnowCover_2012_Section_13.tif
SnowCover_2012_Section_14.tif
SnowCover_2012_Section_15.tif
SnowCover_2012_Section_16.tif
SnowCover_2012_Section_17.tif
SnowCover_2012_Section_18.tif
SnowCover_2012_Section_19.tif
SnowCover_2012_Section_2.tif
SnowCover_2012_Section_3.tif
SnowCover_2012_Section_4.tif
SnowCover_2012_Section_5.tif
SnowCover_2012_Section_6.tif
SnowCover_2012_Section_7.tif
SnowCover_2012_Section_8.tif
SnowCover_2012_Section_9.tif
Temperature_2012_Section_0.tif
Temperature_2012_Section_1.tif
Temperature_2012_Section_10.tif
Temperature_2012_Section_11.tif
Temperature_2012_Section_12.tif
Temperature_2012_Section_13.tif
Temperature_2012_Section_14.tif
Temperature_2012_Section_15.tif
Temperature_2012_Section_16.tif
Temperature_2012_Section_17.tif
Temperature_2012_Section_18.tif
Temperature_2012_Section_19.tif
Temperature_2012_Section_2.tif
Temperature_2012_Section_3.tif
Temperature_2012_Section_4.tif
Temperature_2012_Section_5.tif
Temperature_2012_Section_6.tif
Temperature_2012_Section_7.tif
Temperature_2012_Section_8.tif
Temperature_2012_Section_9.tif
Temperature_2013_Section_0.tif
Temperature_2013_Section_1.tif
Temperature_2013_Section_10.tif
Temperature_2013_Section_11.tif
Temperature_2013_Section_12.tif
Temperature_2013_Section_13.tif
Temperature_2013_Section_14.tif
Temperature_2013_Section_15.tif
Temperature_2013_Section_16.tif
Temperature_2013_Section_17.tif
Temperature_2013_Section_18.tif
Temperature_2013_Section_19.tif
Temperature_2013_Section_2.tif
Temperature_2013_Section_3.tif
Temperature_2013_Section_4.tif
Temperature_2013_Section_5.tif
Temperature_2013_Section_6.tif
Temperature_2013_Section_7.tif
Temperature_2013_Section_8.tif
Temperature_2013_Section_9.tif

In [1]:
# import rasterio
# import numpy as np
# import pandas as pd
# import os

In [32]:
def geotiff_to_dataframe(geotiff_path):
    with rasterio.open(geotiff_path) as src:
        data = src.read(1)  # Reading the first band
        nodata = src.nodata

        # Extracting coordinates and values
        pixel_values = data.flatten()
        rows, cols = np.indices(data.shape)
        x_coords, y_coords = rasterio.transform.xy(src.transform, rows, cols, offset='center')
        x_coords = np.array(x_coords).flatten()
        y_coords = np.array(y_coords).flatten()
        
        varname = geotiff_path.split('_')[0]

        # Creating DataFrame
        df = pd.DataFrame({
            'x_coord': x_coords,
            'y_coord': y_coords,
            # 'pixel_value': pixel_values
            # f'{geotiff_path}':pixel_values
            f'{varname}':pixel_values
        })
        # df = df[df['pixel_value'] != nodata]  # Removing NoData values
        # df = df[df[f'{geotiff_path}'] != nodata]  # Removing NoData values
        df = df[df[f'{varname}'] != nodata]  # Removing NoData values
        return df

In [33]:
def get_filenames_with_string(directory_path, search_string):
    matching_filenames = []
    for filename in os.listdir(directory_path):
        if search_string in filename:
            matching_filenames.append(filename)
    return [directory_path + fn for fn in matching_filenames]

In [46]:
get_filenames_with_string('EarthEngineData/', 'Temperature_2012')

['EarthEngineData/Temperature_2012_Section_19.tif',
 'EarthEngineData/Temperature_2012_Section_18.tif',
 'EarthEngineData/Temperature_2012_Section_8.tif',
 'EarthEngineData/Temperature_2012_Section_9.tif',
 'EarthEngineData/Temperature_2012_Section_1.tif',
 'EarthEngineData/Temperature_2012_Section_0.tif',
 'EarthEngineData/Temperature_2012_Section_2.tif',
 'EarthEngineData/Temperature_2012_Section_3.tif',
 'EarthEngineData/Temperature_2012_Section_7.tif',
 'EarthEngineData/Temperature_2012_Section_6.tif',
 'EarthEngineData/Temperature_2012_Section_4.tif',
 'EarthEngineData/Temperature_2012_Section_5.tif',
 'EarthEngineData/Temperature_2012_Section_13.tif',
 'EarthEngineData/Temperature_2012_Section_12.tif',
 'EarthEngineData/Temperature_2012_Section_10.tif',
 'EarthEngineData/Temperature_2012_Section_11.tif',
 'EarthEngineData/Temperature_2012_Section_15.tif',
 'EarthEngineData/Temperature_2012_Section_14.tif',
 'EarthEngineData/Temperature_2012_Section_16.tif',
 'EarthEngineData/Temperature_2012_Section_17.tif']

In [60]:
def get_dataframe_from_tiffs(years, variable):
    all_dfs = []
    for year in years:
        yeardf = pd.concat(list(map(geotiff_to_dataframe, get_filenames_with_string('EarthEngineData/', variable+'_'+str(year)))))
        yeardf['year'] = year
        all_dfs.append(yeardf)
        
    return pd.concat(all_dfs)

In [61]:
get_dataframe_from_tiffs(years=[2012,], variable='Temperature')

         x_coord    y_coord  EarthEngineData/Temperature  year
0     101.990226  28.579901                          NaN  2012
1     102.071074  28.579901                          NaN  2012
2     102.151923  28.579901                          NaN  2012
3     102.232771  28.579901                          NaN  2012
4     102.313619  28.579901                          NaN  2012
...          ...        ...                          ...   ...
6995  109.670821  33.996742                   283.545667  2012
6996  109.751670  33.996742                   284.504846  2012
6997  109.832518  33.996742                   284.504846  2012
6998  109.913367  33.996742                   284.686116  2012
6999  109.994215  33.996742                   283.956515  2012

[140000 rows x 4 columns]

In [58]:
years = [2012,]
all_dfs = []
for year in years:
    yeardf = pd.concat(list(map(geotiff_to_dataframe, get_filenames_with_string('EarthEngineData/', 'Temperature_'+str(year)))))
    yeardf['year'] = year
    all_dfs.append(yeardf)
    
combined_df = pd.concat(all_dfs)

In [59]:
combined_df

         x_coord    y_coord  EarthEngineData/Temperature  year
0     101.990226  28.579901                          NaN  2012
1     102.071074  28.579901                          NaN  2012
2     102.151923  28.579901                          NaN  2012
3     102.232771  28.579901                          NaN  2012
4     102.313619  28.579901                          NaN  2012
...          ...        ...                          ...   ...
6995  109.670821  33.996742                   283.545667  2012
6996  109.751670  33.996742                   284.504846  2012
6997  109.832518  33.996742                   284.504846  2012
6998  109.913367  33.996742                   284.686116  2012
6999  109.994215  33.996742                   283.956515  2012

[140000 rows x 4 columns]

In [57]:
print('i started around 1223 and im lazy so i didnt actually timeit but now im going to lunch')

i started around 1223 and im lazy so i didnt actually timeit but now im going to lunch

In [ ]:
combined_df

In [ ]:
combined_df.to_csv('combined_data.csv', index=False)